.idea/.gitignore
.idea/Daw1Decroly2026.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Actividad 2/Actividad 2.iml
Actividad 3/Actividad 3.iml
Actividad 4/Actividad 4.iml
Actividad 5/Actividad 5.iml
Actividad 6/Actividad 6.iml
Actividad 7/Actividad 7.iml
out/production/Actividad 3/Main.class
out/production/Actividad 4/Main.class
out/production/Actividad 6/Main.class
out/production/Actividad 7/Main.class
